@import url('./variables.css');

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

/* jupyter */
.jp-WindowedPanel-viewport {
  background-color: #fdfdff;
}

.jupyter-button {
  border-radius: 6px;
  font-weight: bold;
}
.toggleFormationCellButton {
  border-radius: 3px;
}

.jupyter-button {
  background-color: #76b993;
  color: whitesmoke;
}

.jp-MarkdownOutput {
  border-style: none !important;
}

/* Styling Markdown */

/* Headings */
h1 {
  font-size: 3.5em !important;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  color: #4e6788;
}
h2 {
  text-shadow: 1px 1px 1px;
  color: #4e6788;
}
h3 {
  color: #4e6788;
}

code {
  border-radius: 6px;
}
